
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="description" content="设置搜索引擎关键字" />
    <meta name="generator" content="编辑软件的名称"  />
    <meta name="author" content="作者的姓名" />
    <meta http-equiv="content-type" content="text/html;charset='utf-8'" />
    <meta http-equiv="refresh" content="1000;url=www.baidu.com" />
    <title>Index</title>
</head>
<body>
    <h1 name="测试锚点">H1字体</h1>
    <h6>H6字体</h6>
    <h2 align="left">测试left</h2>
    <h2 align="center">测试center</h2>
    <h2 align="right">测试right</h2>
    <p>测试用P</p>

    <nobr>不换行文字1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111测试测认识111111111111111111111111111111111111111111111111111111111111111111111测试测认识</nobr>
    <p>不换行文字1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111测试测认识111111111111111111111111111111111111111111111111111111111111111111测试测认识</p>
    <hr />
    &nbsp;123
    <a href="~/Home/Test" target="_blank">打开新界面</a>@*target 打开方式*@
    <a href="#测试锚点">锚点点击位置</a>
    <a href="~/Home/Test#测试锚点">其他页面锚点点击位置</a>
    <a href="http://www.baidu.com">打开百度</a><br />
    <a href="mailto:976983151@qq.com">打开邮箱</a>
    <a href="ftp://">打开FTP（没有）</a>
    <a href="~/Images/index.jpg">下载文件</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<a name="测试锚点">锚点测试</a>
</body>
</html>
