
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index_CSS</title>
    <style type="text/css">
        body{
            background-color:aquamarine;
        }
        .h{
            font-family:"Microsoft YaHei";
            font-size:14px;
            font-weight:bolder;
            font-variant:small-caps;/*变大写*/
        }
        .h2{
            font :bold italic "宋体";
            background-image:url(Images/index.jpg);
            background-repeat:no-repeat; 
        }
        
    </style>
</head>
<body>
    <span class="h">
        font-weight的取值范围包括normal、bold、bolder、lighter、number。其中normal表示正常粗细；bold表示粗体；bolder表示特粗体；lighter
    </span>
    <span class="h2">
        font-weight的取值范围包括normal、bold、bolder、lighter、number。其中normal表示正常粗细；bold表示粗体；bolder表示特粗体；lighter
    </span>
</body>
</html>
