
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="description" content="设置搜索引擎关键字" />
    <meta name="generator" content="编辑软件的名称"  />
    <meta name="author" content="作者的姓名" />
    <meta http-equiv="content-type" content="text/html;charset='utf-8'" />
    <meta http-equiv="refresh" content="1000;url=www.baidu.com" />
    <title>Index</title>
</head>
<body>
    <h1 name="测试锚点">H1字体</h1>
    <h6>H6字体</h6>
    <h2 align="left">测试left</h2>
    <h2 align="center">测试center</h2>
    <h2 align="right">测试right</h2>
    <p>测试用P</p>

    <nobr>不换行文字1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111测试测认识111111111111111111111111111111111111111111111111111111111111111111111测试测认识</nobr>
    <p>不换行文字1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111测试测认识111111111111111111111111111111111111111111111111111111111111111111测试测认识</p>
    <hr />
    &nbsp;123
    <a href="~/Home/Test" target="_blank">打开新界面</a>@*target 打开方式*@
    <a href="#测试锚点">锚点点击位置</a>
    <a href="~/Home/Test#测试锚点">其他页面锚点点击位置</a>
    <a href="http://www.baidu.com">打开百度</a><br />
    <a href="mailto:976983151@qq.com">打开邮箱</a>
    <a href="ftp://">打开FTP（没有）</a>
    <a href="~/Images/index.jpg">下载文件</a>
    <img src="~/Images/index.jpg" alt="提示文字内容" />
    <ol type="a" start="10">
        <li>l1</li>
        <li>l2</li>
        <li>l3</li>
    </ol>
    <ul type="square">
        <li>l1</li>
        <li>l2</li>
        <li>l3</li>
    </ul>
    <dl>
        <dt>定义条件</dt>
        <dd>定义描述</dd>
        <dt>定义条件11111</dt>
        <dd>定义描述111111</dd>
        <dt>定义条件2222</dt>
        <dd>定义描述22222</dd>
    </dl>
    <menu>
        <li>列表项1</li>
        <li>列表项2</li>
        <li>列表项3</li>
    </menu>
    <table width="250" height="250" border="1" align="center" cellpadding="10" bgcolor="red">
        <caption>测试列表</caption>
        <th>测试th</th>
        <tr>
            <td width="50">张萨满</td>
            <td width="50">张萨满2</td>
        </tr>
        <tr>
            <td>阿斯弗</td>
            <td>阿斯弗2</td>
        </tr>
        <tr>
            <td width="50">私分享</td>
            <td>私分享2</td>
        </tr>
        <tr>
            <td colspan="2">测试colspan</td>
        </tr>
        <tr>
             
        </tr>
    </table>
    <form action="" method="post" enctype="application/x-www-form-urlencoded">
        <input name="name" type="text" size="15" />
        <input name="password" type="password" size="15" />
        <input name="radio" type="radio" size="15" />
        <input name="reset" type="reset" size="15" />
        <input name="UnKownValue" type="hidden" size="15" />
        <select name="select" size="2">
            <option value="北京">北京</option>
            <option value="温州" selected="selected">温州</option>
            <option value="杭州">杭州</option>
            <option value="ZZ">ZZ</option>
        </select>
        <textarea name="textarea" rows="5" cols="35"></textarea>
    </form>
    <form action="" method="post" enctype="multipart/form-data">
        <input name="file" type="file" size="30" maxlength="32" />
    </form>
    <marquee direction="down" behavior="alternate" scrollamount="3" scolldelay="111" width="300" height="400">aaaaaaaaaaaaaaaaassssssssssssssssssssssddddddddddddddddddddddddffffffffffffffffffffffffffffffff</marquee>
    <embed src="~/" width="780" height="400" />@*Flash效果*@
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<a name="测试锚点">锚点测试</a>
</body>
</html>
