<html>
<head>
    <script type="text/javascript">
        function popupMsg(msg) {
            alert(msg);
        }
        function check() {
            name = navigator.appName;
            document.write("您现在使用的是" + navigator.appName + "页浏览器<br>");
            //if (name == "Netscape") {
            //    document.write("您现在使用的是Netscape网页浏览器<br>");
            //}
            //else if (name == "Microsoft Internet Explorer") {
            //    document.write("您现在使用的是Microsoft Internet Explorer浏览器")
            //}
            //else {
                
            //}
        }
        function showtime() {
            var nowTime = new Date();
            var hours = nowTime.getHours();
            var minutes = nowTime.getMinutes();
            var seconds = nowTime.getSeconds();
            var timer = "" + ((hours > 12) ? hours - 12 : hours);
            timer += ((minutes < 10) ? ":0" : ":") + minutes;
            timer += ((seconds < 10) ? ":0" : ":") + seconds;
            timer += "" + ((hours > 12) ? "pm" : "am");
            //document.clock.show.value = tiemr;
            document.getElementById("show").value = timer;
            setTimeout("showtime()", 1000);
        }
        var sec = 0;
        var min = 0;
        var hou = 0;
        //flag = 0;
        idt = window.setTimeout("update();", 1000);
        function update() {
            sec++;
            if (sec == 60) {
                sec = 0;
                min += 1;
            }
            if (min == 60) {
                min = 0;
                hou += 1;
            }
            //alert(hou);
            document.getElementById("DetentionTime").value = hou + "时" + min + "分" + sec+ "秒";
            idt = window.setTimeout("update()", 1000);
        }
        var rector = 300
        var stopit = 0
        var a = 1
        var zhend=null

        function init(which) {
            stopit = 0
            zhend = which
            zhend.style.left = 0
            zhend.style.top=0
        }
        function rattleimage() {
            if ((!document.all && !document.getElementById) || stopit == 1)
                return;
            zhend.visible = false
            if (a == 1) {
                zhend.style.top = parseInt(zhend.style.top) + rector;
                zhend.style.width = parseInt(zhend.style.width) + rector;
            }
            else if (a == 2) {
                zhend.style.left = parseInt(zhend.style.left) + rector;
                zhend.style.height = parseInt(zhend.style.height) + rector;
            }
            else if (a == 3) {
                zhend.style.top = parseInt(zhend.style.top) - rector;
                zhend.style.width = parseInt(zhend.style.width) - rector;
            }
            else {
                zhend.style.left = parseInt(zhend.style.left) - rector;
                zhend.style.height = parseInt(zhend.style.height) - rector;
            }
            if (a < 4)
                a++;
            else
                a = 1;
            //alert(zhend.id + "   " + zhend.visible)
            //alert(zhend.style.left + "--" + zhend.style.top)
            setTimeout("rattleimage()",50)
        }
        function stoprattle(which) {
            stopit = 1
            which.style.left = 0
            which.style.top = 0
        }

        function blink() {
            tp.style.visibility = (tp.style.visibility == "hidden") ? "visible" : "hidden";
            setTimeout("blink()", 500);
        }
        //function findObj(n, d) {
        //    var p, i, x;
        //    if (!d) d = document;
        //    if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
        //        d = parent.frames[n.substring(p + 1)].document;
        //        n = n.substring(0, p);
        //    }
        //    if (!(x = d[n]) && d.all) x = d.all[n];
        //    for (i = 0; !x && i < d.forms.length; i++)
        //        x = d.forms[i][n];
        //    for (i = 0; !x && d.layers && i < d.layers.length; i++)
        //        x = findObj(n, d.layers[i].document);
        //    if (!x && d.getElementById)
        //        x = d.getElementById(n);
        //    return x;
        //}
        //function showHideLayers() {
        //    var i, p, v, obj, args = showHideLayers.arguments;
        //    for (i = 0; i < (args.length - 2); i += 3)
        //        if ((obj = findObj(args[i])) != null) {
        //            v = args[i + 2];
        //            if (obj.style) {
        //                obj = obj.style;
        //                v = (v = 'show') ? 'visible' : (v == 'hide') ? 'hidden' : v;
        //            }
        //            obj.visibility = v;
        //        }
        //}

        function click() {
            if (event.button == 2)
                alert('禁止右击')
        }
        function CtrlKeyDown() {
            if (event.ctrl)
        }
    </script>


</head>

@*<div align="center">
        <img src="~/Images/index.jpg" width="778" height="407" />
        <input type="button" name="fullsscreen" value="全屏" onclick="window.open(document.location,'big','fullscreen=yes')" />
        <input type="button" name="close" value="还原" onclick="window.close()" />
    </div>*@
<body onload="showtime(); blink()" onUnload="popupMsg('关闭当前页')">
    onload="popupMsg('欢迎光临')"
    onload="check()"
    招商加盟:
    <form id="form1" name="form1" method="post" action="">
        <p>
            您的名字：<input type="text" name="textfield" />
        </p>
        <p>
            <br />留言内容:<br /><br />
            <textarea name="textarea" cols="50" rows="5" onchange=alert("输入留言内容")></textarea>
        </p>
    </form>

    <p>
        请在下面输入您的名字:
        <input name="stra" id="stra" tabindex="1" value="选择输入的名称" size="16" onselect=alert("选择输入的名称") />
    </p>

    <label><input type="radio" name="RadioGroup1" value="游戏" onfocus=alert("选择游戏") />游戏</label>
    <label><input type="radio" name="RadioGroup1" value="上网" onfocus=alert("选择上网") />上网</label>
    <label><input type="radio" name="RadioGroup1" value="唱歌" onfocus=alert("选择唱歌") />唱歌</label>

    <p> 账号:<input name="textfield" type="text" onblur="popupMsg('账号失去焦点')" /></p>
    <p> 密码:<input name="textfield" type="text" onblur="popupMsg('密码失去焦点')" /></p>

    <input name="submit" type="submit" onmouseover="popupMsg('mouseover')" value="鼠标移入" />
    <input name="submit" type="submit" onmouseout="popupMsg('mouseout')" value="鼠标移出" />

    <label ondblclick="popupMsg('DoubleClick')">双击</label>

    <p><a href="https://www.baidu.com">history对象</a></p>
    <form name="form1" method="post" action="">
        <input name="按钮" type="button" onclick="history.back()" />
        <input name="前进" type="button" onclick="history.forward()" />
    </form>

    <form name="clock" onsubmit="0">
        <input type="text" name="show" id="show" size="10" style="background-color:lightyellow;border-width:3px;" />

        <input type="text" name="DetentionTime" id="DetentionTime" size="10" style="background-color:lightcoral;border-width:3px;" />
    </form>

    <div id="zhendimage" onmouseover="init(this); rattleimage()" onmouseout="stoprattle(this)">
        <img class="zhendimage" src="~/Images/index.jpg" width="100" height="100" />
    </div>
    <div id="tp" style="visibility:hidden">
        <img class="zhendimage" src="~/Images/index.jpg" width="100" height="100" />
    </div>

    <div align="center">
        <input type="button" name="FullScreen" value="全屏显示" onclick="window.open(document.location,'big','fullscreen=yes')" />
    </div>

</body> 
</html>

